.clients{
    background-color: black;
    
}

.client-container{
    margin: 0px;
    padding: 0px;
}

.client-content{
    display: flex;
    justify-content: space-between;
    padding: 0px 8rem;
    margin-top: -10rem;
}