.clients{
    background-color: black;
    
}

.client-container{
    margin: 0px;
    padding: 0px;
}
.clients-title{
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #00FCA7;

}
.client-content{
    display: flex;
    justify-content: space-between;
    padding: 4rem 8rem;
    
}