.signup {

  background-color: black;
  padding-top: 4rem;
  overflow-y: hidden;
}

.home-container {
  display: flex;
  padding-top: 40px;
  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 50px;
}

.sub-title {
  font-size: x-large;
  font-weight: 500;
  color: #ff3998;
}

.title {
  font-size: 38px;
  font-weight: 800;
  color: white;
}

.info {
  color: grey;
  font-size: 20px;
  font-weight: 400;
  max-width: 60%;
}

.signup-btn {
  width: 200px;
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #ff3998, #ff8139);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px black inset;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: none;
  }
}

.signup-btn:hover {
  box-shadow: none;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  z-index: 10;
}

.image-container .ellipse-container .ellipse {
  z-index: -1;
  position: absolute;
  height: 15rem;
  width: 15rem;
  filter: blur(100px);
}
.image-container .ellipse-container .pink {
  top: 40%;
  right: 40%;
  background-color: #ff3998;
}
.image-container .ellipse-container .orange {
  bottom: 40%;
  left: 40%;
  background-color: #ff8139;
}
