.super{
    background-color: black;
    height: 100vh;
    padding: 0rem;
    margin: 0rem;
}

.super-container{
    margin: 0px;
}

.super-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding-left: 2rem;
    padding-top: 4rem;
}

.super-content a{
    color: white;
    text-decoration: none;
}

.super-card{
    display: flex;
    margin-top: 3rem;
    margin: 6rem;
    gap: 3rem;
    
    
}